@import "tailwindcss";

@theme {
  
  --color-primary: #1f6bff;
  --color-primary-dark: #0049c7;
  --color-accent: #0ea5e9;
  --color-danger: #ff4d4d;
  --color-success: #22c55e;
  --color-gray-bg: #f3f5fa;

  --radius-card: 16px;
  --radius-btn: 10px;

  --shadow-card: 0 14px 28px rgba(0,0,0,.12);
  
  --spacing-page-width: 1200px;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Arial, Helvetica, sans-serif;
  }
}